/* Css writing rules
- Distances always rem
- Border Radius always px
*/

:root {
    --black: #000000;
    --white: #ffffff;
    /* --grey: #8c8c8c; */
    --blue: #1c337f;
    --light-grey: #dcdcdc;
    --light-grey-1: #f5f5f5;
    --grey: #b4b4b4;
    --grey-1: #c3c3c3;
    --dark-grey: #828282;
    --dark-grey-1: #8c8c8c;

    --all-03s: all 0.3s;

    /* Font Sizes */
    --font-main-header: 30px;
    --font-header: 20px;
    --font-text: 16px;
    --font-detail: 12px;
    --font-min: 10px;

    --font-family: "Arial";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);

    font-size: var(--font-text);
    color: var(--black);
    /* transition: var(--all-03s); */
}

h1 {
    font-size: var(--font-main);
}

h3 {
    font-size: var(--font-header);
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666667%;
}

.col-12 {
    width: 100%;
}


/*Scroll Style*/
/*Track*/
*::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

/* Handle on hover */
*:hover::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:hover {
    background: var(--grey);
}

/*Scroll end*/


@media (max-width: 480px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .col-1,
    .col-2 {
        width: 16.66666667%;
    }

    .col-3,
    .col-4 {
        width: 33.33333333%;
    }

    .col-5,
    .col-6 {
        width: 50%;
    }

    .col-7,
    .col-8 {
        width: 66.66666667%;
    }

    .col-9,
    .col-10 {
        width: 83.33333333%;
    }

    .col-11,
    .col-12 {
        width: 100%;
    }
}