.input-container *:before,
.input-container *:after {
  background: var(--input-background-color);
}

.input-container,
.input-container>input {
  cursor: text;
  width: 100%;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container>input {
  margin-top: .5rem;
  padding: 0.3rem 0.5rem;
  outline: none;
  background-color: var(--input-background-color);
}

.input-outlined {
  border: 1px solid var(--black);
  border-radius: 5px;
}

.input-standard {
  border: none;
  padding-left: 0.2rem !important;
  border-bottom: 1px solid var(--black);
}


/*Tring to remove span element*/
/* .input-container>input::placeholder {
  color: var(--grey);
  font-size: var(--font-text);
  z-index: 1;
  transition: var(--all-03s);
  transform-origin: left bottom;
  transform: translate(0, 0) scale(1);
}

.input-container>input:focus::placeholder,
.input-container>input:not(:placeholder-shown)::placeholder {
  font-size: var(--font-detail);
  transform: translate(0, -100%) scale(0.8);
  color: var(--black);
} */


.input-container>span {
  line-height: 1.1rem;
  position: absolute;
  color: var(--grey);
  transition: var(--all-03s);
  z-index: 1;
  user-select: none;
  background-color: transparent;
  bottom: .3rem;
}

.input-container:has(>.input-outlined)>span {
  left: 15px;
}

.input-container:has(>.input-standard)>span {
  left: 0.2rem;
}

.input-container:has(>.input-outlined)>span:before {
  position: absolute;
  bottom: .05rem;
  content: "";
  width: 100%;
  height: 40%;
  z-index: -1;
}

.input-container>input:focus+span,
.input-container>input:not(:placeholder-shown)+span {
  color: var(--black);
  font-weight: bold;
  font-size: var(--font-detail);
  line-height: 1rem;
}

.input-outlined:focus+span,
.input-outlined:not(:placeholder-shown)+span {
  bottom: 1.43rem;
}

.input-standard:focus+span,
.input-standard:not(:placeholder-shown)+span {
  bottom: 1.43rem;
}



/*CheckBox*/
.input-container-checkbox {
  display: block;
  /*input checkbox have an display: inline. So To change width we need to change it first*/
  width: 100%;
  user-select: none;
}

.input-container-checkbox>input {
  appearance: none;
  /*This helps us to remove default check*/
  vertical-align: text-bottom;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid var(--black);
  border-radius: 5px;
  transition: var(--all-03s);
}

.input-container-checkbox>input:checked {
  background-color: var(--blue);
  color: var(--white);
}

.input-container-checkbox>input:checked:after {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-detail);
  font-weight: bold;
  content: '\2713';
}

.input-container-checkbox>span {
  padding-left: .3rem;
}