.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    container-type: inline-size;
}

.form-has-border {
    padding: 1rem;
    border: 1px solid var(--light-grey);
    border-radius: .7rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.form-buttons {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: .3rem;
    min-height: 2rem;
}

.form-buttons>input[type='submit'],
.form-buttons>input[type='reset'] {
    border: none;
    padding: .3rem;
    min-width: 25%;
    color: var(--black);
    border-radius: .35rem;
    font: var(--font-text);
    transition: var(--all-03s);
    cursor: pointer;
    outline: none;
}

.form-buttons>input[type='submit'] {
    background-color: steelblue;
}

.form-buttons>input[type='reset'] {
    background-color: tomato;
}

.form-buttons>input[type='submit']:is(:hover, :focus),
.form-buttons>input[type='reset']:is(:hover, :focus) {
    filter: brightness(0.8);
}

.form-buttons>input[type='submit']:active,
.form-buttons>input[type='reset']:active {
    transform: scale(0.95);
}


@container (max-width: 767px) {

    :global(.col-1),
    :global(.col-2) {
        width: 16.66666667%;
    }

    :global(.col-3),
    :global(.col-4) {
        width: 33.33333333%;
    }

    :global(.col-5),
    :global(.col-6) {
        width: 50%;
    }

    :global(.col-7),
    :global(.col-8) {
        width: 66.66666667%;
    }

    :global(.col-9),
    :global(.col-10) {
        width: 83.33333333%;
    }

    :global(.col-11),
    :global(.col-12) {
        width: 100%;
    }
}

@container (max-width: 480px) {
    .form-buttons {
        flex-direction: column;
    }

    :global(.col-1),
    :global(.col-2),
    :global(.col-3),
    :global(.col-4),
    :global(.col-5),
    :global(.col-6),
    :global(.col-7),
    :global(.col-8),
    :global(.col-9),
    :global(.col-10),
    :global(.col-11),
    :global(.col-2) {
        width: 100%;
    }
}